div{
	padding:0px;
	margin:0px;
}

.tooltip{
	top:25px !important;
}

.tooltip-arrow{
	display:none !important;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















